doctype html
html
  head
    title Snoopy Style Studio
    link(rel="stylesheet", href="/CSS/style.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Patrick+Hand&display=swap" rel="stylesheet")
    script(src="/JavaScript/main.js" defer)

  body
    main.container

      // title area
      .title-area
        img.cloud(src="/Assets/title/light_purple_cloud.png", alt="")
        img.cloud2(src="Assets/title/dark_purple_backgrd_cloud.png", alt="")
        h1.title SNOOPY
        p.subtitle style studio
        img.santa(src="/Assets/title/santa_hat.png", alt="")
        img.star.star-1(src="/Assets/title/star-1.png", alt="")
        img.star.star-2(src="/Assets/title/star-2.png", alt="")
        img.heart(src="/Assets/title/purple_heart_smiling.png", alt="")

      // snoopy
      .character
        img(src="/Assets/characters/snoopy-menu.png", alt="Snoopy")

      // play button
      .play-area
        img(src="/Assets/play-button/play_btn_prl_rec.png", alt="")
        button.play-btn
          img(src="/Assets/play-button/triangle up.png", alt="Play")

      // gift tag
      .gift-tag
        img(src="/Assets/gift-tag/gift_tag_prpl.png", alt="")
        p
          | For Andrea ♡
          br
          | Love,
          br
          | your big sister
