* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("public/images/title/background-bricks.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Baloo 2", cursive;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* TITLE */
.title-area {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 5;
}
.cloud2 {
  width: 1050px;
}
.cloud {
  width: 1040px;
}



.title {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 72px;
  color: #fffaf4;
  text-shadow: 6px 6px 0 #cfcde6;
  margin: 0;
}

.subtitle {
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  color: #ffffff;
}

/* DECOR */
.santa {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 70px;
}

.star {
  position: absolute;
  width: 36px;
}

.star-1 {
  left: -30px;
  top: 120px;
}

.star-2 {
  right: -30px;
  top: 80px;
}

.heart {
  position: absolute;
  right: 30px;
  top: 130px;
  width: 45px;
}

/* SNOOPY */
.character {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.character img {
  width: 280px;
}

/* PLAY BUTTON */
.play-area {
  position: absolute;
  bottom: 22%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.play-area img {
  width: 360px;
  filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.15));
}

.play-btn {
  position: absolute;
  inset: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.play-btn img {
  width: 60px;
}

/* GIFT TAG */
.gift-tag {
  position: absolute;
  top: 28%;
  right: 6%;
  transform: rotate(-6deg);
  z-index: 6;
}

.gift-tag img {
  width: 220px;
  filter: drop-shadow(0 10px 18px rgba(0, 0, 0, 0.25));
}

.gift-tag p {
  position: absolute;
  inset: 0;
  padding-top: 45px;
  font-size: 18px;
  color: #6f6f8f;
}
