doctype html
html
  head
    title Snoopy Style Studio
    link(rel="stylesheet", href="/css/style.css")

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fredoka:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fredoka:wght@300..700&family=Jersey+25&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")

  body
    audio#bgm(src="/Audio/music.mp3" loop preload="auto")
      
    audio#notifSfx(src="/Audio/notif.mp3" preload="auto")

    audio#clickSfx(src="/Audio/click.mp3" preload="auto")


    block content
    script(src="/javascript/main.js" defer)
